<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

</head>
<body align="center">
<h3>ВСЕ ПОЛЬЗОВАТЕЛИ</h3>
<hr>
<table border="1" , align="center">
    <thead>
    <tr>
        <th>ID</th>
        <th>User Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user :${users}">

        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getAddress()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getRoles()}"></td>

        <td>
            <form th:method="GET" th:action="@{/admin/edit/__${user.getId()}__}">
                <input type="submit" value="EDIT">
            </form>
        </td>

        <td>
            <form th:method="DELETE" th:action="@{/admin/remove/__${user.id}__}">
                <input type="submit" value="DELETE">
            </form>
        </td>

    </tr>
    </tbody>
</table>
<br>
<form th:method="GET" th:action="@{/admin/addUser}">
    <input type="submit" value="Add new USER">
</form>
<br>
<form name="logOut" th:action="@{/logout}" method="post">
    <input type="submit" value="LOGOUT">
</form>

</body>
</html>