<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<br>
<body>
<h2> ИЗМЕНЕНИЕ ПОЛЬЗОВАТЕЛЯ</h2>
<form th:method="PATCH" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:form th:object="${user}">
    <label for="User name"> Введите логин: </label>
    <input type="text" th:field="*{userName}" id="User name"/>
    <br> <br>

    <label for="Password"> Введите пароль: </label>
    <input type="password" th:field="*{password}" id="Password"/>
    <br> <br>

    <label for="address"> Введите адрес: </label>
    <input type="text" th:field="*{address}" id="address"/>
    <br> <br>

    <label for="email"> Введите email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br><br>
    <input type="submit" value="UPDATE"/>
    <input type="button" onclick="history.back();" value="BACK"/>
    <br> <br>
</form>

<table>
    <tbody>
    <tr th:each="role :${user.roles}">
        <td th:text="${role.role}"></td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/removeRole/__${user.id}__/__${role.getId()}__}">
                <input type="submit" value="DELETE"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<br>
<form th:method="PATCH" th:action="@{/admin/addRole/{user_id}(user_id = ${user.getId()})}" th:object="${ur}">
    <label for="Role"> Role: </label>
    <select name="addRole" id="Role">
        <option value="0"></option>
        <option value="1">ROLE_USER</option>
        <option value="2">ROLE_ADMIN</option>
    </select>
    <input type="submit" value="ADD ROLE"/>
</form>
<br>
<br>


</body>
</html>