<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<br>
<body>
<h2> ДОБАВЛЕНИЕ НОВОГО ПОЛЬЗОВАТЕЛЯ</h2>
<br>

<form th:method="POST" th:action="@{/admin/addUser}" th:object="${newUser}">
    <label for="User name"> Введите логин: </label>
    <input type="text" th:field="*{userName}" id="User name"/>
    <br>

    <br>
    <label for="Password"> Введите пароль: </label>
    <input type="password" th:field="*{password}" id="Password"/>
    <br>

    <br>
    <label for="address"> Введите адрес: </label>
    <input type="text" th:field="*{address}" id="address"/>
    <br>

    <br>
    <label for="email"> Введите email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>

    <br>
    <label for="Role 1"> Role 1: </label>
    <select name="role1" id="Role 1">
        <option value="0"></option>
        <option value="1">ROLE_USER</option>
        <option value="2">ROLE_ADMIN</option>
    </select>

    <label for="Role 2"> Role 2: </label>
    <select name="role1" id="Role 2">
        <option value="0"></option>
        <option value="1">ROLE_USER</option>
        <option value="2">ROLE_ADMIN</option>
    </select>
    <br>
    <br>
    <input type="submit" value="ADD"/>
    <br>
    <br>
    <input type="button" onclick="history.back();" value="BACK"/>
</form>
</body>
</html>